<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://atrafael2functions.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/42ac3c48-f9ce-47e4-bec9-1242eb5d1468/resourceGroups/ATRafael/providers/Microsoft.Web/sites/ATRafael2Functions</ResourceId>
    <UserName>$ATRafael2Functions</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://atrafael2functions.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>